.header{
    padding: 13px 70px;
    background: #3278FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number_tele {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    color: aliceblue;
}

.main  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 26px;
    height: calc(100vh - 63px);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 30px 24px 30px;
    width: 330px;
    text-align: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.30);
    height: 450px;
}

.card__titile {
    color: var(--unnamed, #000);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px
}

.card__subtitle {
    color: var(--unnamed, #000);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__button {
    display: inline-flex;
    padding: 6px 38px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: var(--unnamed, #3278FF);
}

.card__button__name {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
    letter-spacing: -0.4px;
    color: var(--unnamed, #FFF);
    text-align: center;
    font-feature-settings: 'calt' off;
}